<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conexao_SQLServer.Properties.Settings.String" connectionString="Data Source=DESKTOP-FK5T22V;Initial Catalog=Hospital;User ID=sa;Password=Paradoxo22"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>